In [99]:
from collections import defaultdict, Counter
from tqdm import tqdm
import csv
import os
import pandas as pd

In [29]:
ROOT = '/mnt/data0/lucy/manosphere/'
ANN_FILE = ROOT + 'data/ann_sig_entities.csv'
COREF_LOGS = '/mnt/data0/dtadimeti/manosphere/logs/'
COREF_REDDIT = COREF_LOGS + 'coref_reddit/'
COREF_FORUMS = COREF_LOGS + 'coref_forums/'
COREF_CONTROL = COREF_LOGS + 'coref_control/'
COREF_RESULTS = ROOT + 'logs/coref_results/'

In [26]:
# Get subreddit categories 
categories = defaultdict(str)
categories_rev = defaultdict(list)
with open(SUB_META, 'r') as infile: 
    reader = csv.DictReader(infile)
    for row in reader: 
        name = row['Subreddit'].strip().lower()
        if name.startswith('/r/'): name = name[3:]
        if name.startswith('r/'): name = name[2:]
        if name.endswith('/'): name = name[:-1]
        categories[name] = row['Category after majority agreement']
        categories_rev[row['Category after majority agreement']].append(name)

In [101]:
df = pd.read_csv(COREF_RESULTS + 'coref_reddit_df.csv')
df.community.unique()

array(['PUA', 'MRA', 'Incels', 'TRP', 'MGTOW', 'FDS', 'Femcels'],
      dtype=object)

Additional errors.

In [97]:
df[df['community'] == '']

Empty DataFrame
Columns: [month, community, word, fem, masc, neut, it, you]
Index: []

In [102]:
print(sum(df['fem'].to_list()))
print(sum(df['masc'].to_list()))

5145
8477

In [105]:
1 - (sum(df['fem'].to_list()) / (sum(df['fem'].to_list()) + sum(df['masc'].to_list())))

0.6223021582733813

### Popular fem words in reddit

In [80]:
def show_top_fem(cat): 
    cat_df = df[df.category == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['fem_frac'] = cat_totals['fem'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_fem = cat_totals[cat_totals['fem_frac'] == 1]
    return cat_fem.sort_values(by=['total'])

In [81]:
# The Red Pill
show_top_fem('TRP')

Empty DataFrame
Columns: [fem, masc, neut, it, you, total, fem_frac]
Index: []

In [37]:
# Men's Rights Activists
show_top_fem('MRA')

                fem  masc  neut  it  you  total  fem_frac
word
happy wife       11     0     0   0    0     11       1.0
next girl        11     0     0   0    0     11       1.0
average girl     11     0     0   0    0     11       1.0
normal woman     11     0     0   0    0     11       1.0
straight woman   11     0     0   0    0     11       1.0
...             ...   ...   ...  ..  ...    ...       ...
adult woman     107     0     0   0    0    107       1.0
married woman   115     0     0   0    0    115       1.0
teenage girl    118     0     0   0    0    118       1.0
same woman      118     0     0   1    0    118       1.0
drunk girl      132     0     0   2    0    132       1.0

[90 rows x 7 columns]

In [38]:
# Pick Up Artists
show_top_fem('PUA')

                  fem  masc  neut  it  you  total  fem_frac
word
twin sister        11     0     0   0    0     11       1.0
chinese girl       11     0     0   0    0     11       1.0
swedish girl       11     0     0   0    0     11       1.0
better girl        11     0     0   1    0     11       1.0
1 woman            12     0     0   0    0     12       1.0
...               ...   ...   ...  ..  ...    ...       ...
gorgeous girl     195     0     0   1    4    195       1.0
attractive woman  201     0     0   0    0    201       1.0
women             214     0     0  36   60    214       1.0
beautiful woman   262     0     0   3    6    262       1.0
beautiful girl    332     0     0   4    5    332       1.0

[116 rows x 7 columns]

In [39]:
# Incels
show_top_fem('Incels')

                  fem  masc  neut  it  you  total  fem_frac
word
female partner     11     0     0   0    0     11       1.0
current wife       11     0     0   0    0     11       1.0
older lady         11     0     0   0    0     11       1.0
wonderful woman    11     0     0   0    0     11       1.0
current girl       11     0     0   1    0     11       1.0
...               ...   ...   ...  ..  ...    ...       ...
right girl        105     0     0   5    0    105       1.0
dream girl        122     0     0   0    0    122       1.0
beautiful girl    131     0     0   1    0    131       1.0
attractive woman  165     0     0   1    1    165       1.0
hot girl          270     0     0   6    0    270       1.0

[102 rows x 7 columns]

In [40]:
# Men Who Go Their Own Way
show_top_fem('MGTOW')

                  fem  masc  neut  it  you  total  fem_frac
word
crazy girl         11     0     0   0    0     11       1.0
chubby girl        11     0     0   0    0     11       1.0
adult woman        11     0     0   0    0     11       1.0
chic               11     0     0   5    0     11       1.0
ex girlfriends     11     0     0   0    0     11       1.0
...               ...   ...   ...  ..  ...    ...       ...
good woman        116     0     0   0    0    116       1.0
attractive woman  131     0     0   0    0    131       1.0
same woman        153     0     0   2    0    153       1.0
hot girl          155     0     0   4    0    155       1.0
married woman     176     0     0   0    1    176       1.0

[115 rows x 7 columns]

In [41]:
# Femcels
show_top_fem('Femcels')

                    fem  masc  neut  it  you  total  fem_frac
word
actress              12     0     0   0    0     12       1.0
hot girl             12     0     0   0    0     12       1.0
beautiful girl       12     0     0   1    0     12       1.0
other woman          13     0     0   0    0     13       1.0
younger sister       13     0     0   0    0     13       1.0
niece                14     0     0   0    0     14       1.0
pretty woman         14     0     0   0    0     14       1.0
girls                14     0     0   5    6     14       1.0
older woman          14     0     0   0    0     14       1.0
same woman           15     0     0   0    0     15       1.0
black girl           15     0     0   2    0     15       1.0
poor girl            17     0     0   0    0     17       1.0
women                18     0     0   6    6     18       1.0
attractive woman     19     0     0   0    0     19       1.0
one woman            20     0     0   0    0     20       1.0
beautiful woman      20     0     0   0    0     20       1.0
black woman          28     0     0   0    0     28       1.0
average woman        29     0     0   2    0     29       1.0
other girl           30     0     0   0    0     30       1.0
unattractive woman   32     0     0   0    0     32       1.0
daughter             77     0     0   0    0     77       1.0
ugly woman           81     0     0   0    1     81       1.0

In [42]:
# FDS
show_top_fem('FDS')

             fem  masc  neut  it  you  total  fem_frac
word
young woman   13     0     0   0    0     13       1.0
ex wife       14     0     0   0    0     14       1.0
other woman   14     0     0   1    1     14       1.0
poor woman    16     0     0   0    0     16       1.0

### Popular masc words in reddit

In [43]:
def show_top_masc(cat): 
    cat_df = df[df.category == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['masc_frac'] = cat_totals['masc'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_masc = cat_totals[cat_totals['masc_frac'] == 1]
    return cat_masc.sort_values(by=['total'])

In [44]:
# The Red Pill
show_top_masc('TRP')

                 fem  masc  neut  it  you  total  masc_frac
word
mailman            0    11     0   2    0     11        1.0
manipulated man    0    11     0   0    0     11        1.0
frat guy           0    11     0   0    0     11        1.0
old dude           0    11     0   3    0     11        1.0
family alpha       0    11     0   3    0     11        1.0
...              ...   ...   ...  ..  ...    ...        ...
successful man     0    84     0   0    0     84        1.0
short guy          0    86     0   3    0     86        1.0
coach              0   125     0   4    0    125        1.0
modern man         0   137     0   0    0    137        1.0
wise man           0   144     0   0    2    144        1.0

[101 rows x 7 columns]

In [45]:
# MRA
show_top_masc('MRA')

             fem  masc  neut  it  you  total  masc_frac
word
tall man       0    11     0   0    0     11        1.0
white kid      0    11     0   0    0     11        1.0
wise man       0    11     0   0    0     11        1.0
fat guy        0    11     0   2    0     11        1.0
blind man      0    11     0   0    0     11        1.0
...          ...   ...   ...  ..  ...    ...        ...
random guy     0    57     0   0    0     57        1.0
first guy      0    60     0   2    0     60        1.0
good man       0    75     0   0    0     75        1.0
gay guy        0    87     0   1    0     87        1.0
married man    0    91     0   0    1     91        1.0

[71 rows x 7 columns]

In [46]:
# PUA
show_top_masc('PUA')

                 fem  masc  neut  it  you  total  masc_frac
word
rich man           0    11     0   0    1     11        1.0
best buddy         0    11     0   0    0     11        1.0
nerdy guy          0    11     0   0    0     11        1.0
big guy            0    11     0   1    0     11        1.0
billionaire        0    11     0   4    0     11        1.0
little boy         0    11     0   0    0     11        1.0
autistic guy       0    12     0   0    0     12        1.0
different guy      0    12     0   0    1     12        1.0
good wingman       0    12     0   2    0     12        1.0
trainer            0    13     0   0    0     13        1.0
single guy         0    14     0   0    0     14        1.0
little guy         0    14     0   0    0     14        1.0
hero               0    14     0   6    0     14        1.0
magician           0    15     0   1    0     15        1.0
particular guy     0    15     0   1    0     15        1.0
gay man            0    15     0   0    1     15        1.0
beta guy           0    15     0   1    0     15        1.0
alpha man          0    15     0   0    0     15        1.0
homeless man       0    16     0   0    2     16        1.0
true man           0    16     0   0    0     16        1.0
ugly man           0    16     0   0    0     16        1.0
last guy           0    17     0   0    0     17        1.0
handsome guy       0    17     0   0    0     17        1.0
older man          0    18     0   0    0     18        1.0
rich guy           0    19     0   0    0     19        1.0
alpha guy          0    19     0   1    0     19        1.0
great guy          0    19     0   0    0     19        1.0
strong man         0    23     0   0    0     23        1.0
good guy           0    23     0   0    0     23        1.0
younger brother    0    24     0   1    0     24        1.0
right guy          0    25     0   0    0     25        1.0
short guy          0    27     0   0    0     27        1.0
one man            0    29     0   1    1     29        1.0
older brother      0    30     0   0    2     30        1.0
ugly guy           0    37     0   0    0     37        1.0
old man            0    42     0   0    0     42        1.0
cool guy           0    44     0   1    0     44        1.0
young man          0    47     0   0    3     47        1.0
new guy            0   122     0   9    1    122        1.0

In [47]:
# Incels
show_top_masc('Incels')

              fem  masc  neut  it  you  total  masc_frac
word
male incel      0    11     0   2    0     11        1.0
everybody       0    11     0   0    1     11        1.0
drunk guy       0    11     0   0    0     11        1.0
dead man        0    11     0   0    0     11        1.0
current bf      0    11     0   8    0     11        1.0
...           ...   ...   ...  ..  ...    ...        ...
homeless guy    0    59     0   2    0     59        1.0
right guy       0    90     0   2    0     90        1.0
gay guy         0    96     0   1    0     96        1.0
young man       0    96     0   0    1     96        1.0
second guy      0    99     0   0    0     99        1.0

[93 rows x 7 columns]

In [48]:
# MGTOW
show_top_masc('MGTOW')

                fem  masc  neut  it  you  total  masc_frac
word
younger self      0    11     0   0    1     11        1.0
bad man           0    11     0   0    0     11        1.0
short guy         0    11     0   0    0     11        1.0
honest man        0    11     0   0    1     11        1.0
happy man         0    12     0   0    0     12        1.0
...             ...   ...   ...  ..  ...    ...        ...
hero              0    53     0  17    0     53        1.0
innocent man      0    67     0   0    0     67        1.0
successful man    0    68     0   0    0     68        1.0
modern man        0    96     0   0    0     96        1.0
wise man          0   113     0   0    2    113        1.0

[63 rows x 7 columns]

In [49]:
# Femcels
show_top_masc('Femcels')

             fem  masc  neut  it  you  total  masc_frac
word
black man      0    11     0   0    0     11        1.0
first guy      0    12     0   0    0     12        1.0
same guy       0    12     0   0    0     12        1.0
average man    0    15     0   0    0     15        1.0
ugly guy       0    15     0   0    0     15        1.0
ugly man       0    15     0   0    0     15        1.0
average guy    0    16     0   0    0     16        1.0
other guy      0    20     0   1    0     20        1.0
son            0    45     0   0    1     45        1.0
one guy        0    62     0   1    0     62        1.0
boy            0    97     0   0    0     97        1.0

In [50]:
# FDS
show_top_masc('FDS')

                 fem  masc  neut  it  you  total  masc_frac
word
current partner    0    11     0   1    0     11        1.0
good guy           0    11     0   0    0     11        1.0
ugly guy           0    15     0   0    0     15        1.0
good man           0    16     0   0    0     16        1.0
married man        0    16     0   0    0     16        1.0
right man          0    16     0   0    0     16        1.0
new guy            0    19     0   0    0     19        1.0
bf                 0    49     0  30    0     49        1.0
one guy            0    49     0   0    0     49        1.0
ex husband         0    87     0   0    0     87        1.0
son                0    91     0   1    1     91        1.0

### Popular neut words in reddit

In [51]:
def show_top_neut(cat): 
    cat_df = df[df.category == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['fem_frac'] = cat_totals['fem'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_neut = cat_totals[cat_totals.fem_frac.between(0.45, 0.55)]
    return cat_neut.sort_values(by=['total'], ascending = False)

In [52]:
# The Red Pill
show_top_neut('TRP')

                      fem  masc  neut   it  you  total  fem_frac
word
baby                  727   733     0  632    8   1460  0.497945
roommate              389   456     0   10    1    845  0.460355
teacher               353   376     0    1    4    729  0.484225
asshole               202   201     0  612    3    403  0.501241
victim                202   194     0  206    1    396  0.510101
attorney              117   109     0   10    0    226  0.517699
beta bux               78    91     0   24    3    169  0.461538
neighbor               72    78     0   19    0    150  0.480000
stranger               73    64     0   53    1    137  0.532847
old friend             61    73     0    1    3    134  0.455224
new boyfriend          54    58     0    6    0    112  0.482143
hooker                 39    33     0   90    1     72  0.541667
photographer           32    39     0    3    0     71  0.450704
dumbass                28    28     0   55    1     56  0.500000
alphas                 25    29     0   97    1     54  0.462963
guest                  23    26     0    2    2     49  0.469388
flatmate               20    23     0    4    0     43  0.465116
new friend             19    23     0    0    0     42  0.452381
clerk                  21    20     0    3    0     41  0.512195
host                   17    18     0   29    0     35  0.485714
alcoholic              17    17     0   23    0     34  0.500000
marriage counselor     15    18     0    0    0     33  0.454545
counsellor             16    14     0    1    0     30  0.533333
slob                   13    13     0    8    0     26  0.500000
tribe                  13    12     0   64    0     25  0.520000
alpha dude             11    12     0    1    0     23  0.478261
group                  10    12     0  556    1     22  0.454545
former friend          10    12     0    0    0     22  0.454545
parent                 10    11     0  103    0     21  0.476190
pharmacist             11    10     0    3    0     21  0.523810
gold digger             9    11     0    9    0     20  0.450000
private investigator    9    10     0    0    0     19  0.473684
blogger                 9    10     0    2    0     19  0.473684
rational male          10     9     0   26    0     19  0.526316
female judge            9     8     0    0    0     17  0.529412
bestfriend              8     9     0    6    0     17  0.470588
new baby                8     8     0   12    0     16  0.500000
saint                   7     7     0   12    1     14  0.500000
lead singer             7     7     0    0    0     14  0.500000
fat slob                7     7     0    3    0     14  0.500000
soul mate               6     7     0    1    0     13  0.461538
weirdo                  6     7     0    5    0     13  0.461538
scumbag                 6     5     0   12    0     11  0.545455
sheriff                 6     5     0    1    0     11  0.545455
liar                    5     6     0   11    0     11  0.454545
people                  5     6     0   82   77     11  0.454545
neighbour               6     5     0   14    0     11  0.545455
assholes                5     6     0   50    0     11  0.454545

In [53]:
show_top_neut('MRA')

                  fem  masc  neut    it  you  total  fem_frac
word
friend           2537  2862     0    10   96   5399  0.469902
victim           1345  1448     0  1166    2   2793  0.481561
author           1329  1415     0   305    1   2744  0.484329
rapist            611   742     0   365    1   1353  0.451589
partner           572   628     0   186    2   1200  0.476667
professor         304   314     0    24    1    618  0.491909
writer            262   239     0    78    1    501  0.522954
cop               113   114     0   223    0    227  0.497797
roommate           95   112     0     0    2    207  0.458937
journalist         95   111     0     5    1    206  0.461165
abuser             89    84     0    28    0    173  0.514451
neighbor           56    67     0    13    0    123  0.455285
colleague          54    47     0     0    0    101  0.534653
supervisor         48    50     0     1    0     98  0.489796
assailant          48    50     0    13    0     98  0.489796
stranger           45    48     0    47    0     93  0.483871
psychologist       44    46     0     4    0     90  0.488889
prof               40    44     0     8    1     84  0.476190
bartender          32    38     0     6    0     70  0.457143
instructor         35    31     0     3    0     66  0.530303
moron              29    33     0    17    0     62  0.467742
pediatrician       26    28     0     1    0     54  0.481481
cashier            29    24     0     5    0     53  0.547170
clerk              27    23     0     1    0     50  0.540000
psychopath         20    23     0     4    0     43  0.465116
dumbass            20    22     0    21    0     42  0.476190
one friend         19    18     0     0    1     37  0.513514
new boyfriend      19    16     0     1    0     35  0.542857
host               16    17     0    18    0     33  0.484848
close friend       14    16     0     0    1     30  0.466667
sociopath          14    14     0     3    0     28  0.500000
unborn child       12    14     0    31    0     26  0.461538
other friend       12    12     0     0    0     24  0.500000
counsellor         13    11     0     0    0     24  0.541667
producer           11    10     0    10    0     21  0.523810
respondent         10     9     0    11    0     19  0.526316
survivor           10     9     0    16    0     19  0.526316
normal person       9    10     0     0    0     19  0.473684
sailor              9    10     0     3    0     19  0.473684
solicitor           9     9     0     2    0     18  0.500000
administrator       8     9     0     3    0     17  0.470588
child molester      9     8     0     1    0     17  0.529412
pimp                8     9     0     2    0     17  0.470588
co worker           7     8     0     0    0     15  0.466667
filmmaker           7     8     0     1    0     15  0.466667
admins              7     7     0   179    0     14  0.500000
alcoholic           7     6     0     5    0     13  0.538462
dipshit             6     6     0    14    0     12  0.500000
sitter              6     5     0     0    0     11  0.545455
english teacher     6     5     0     1    0     11  0.545455
flatmate            6     5     0     3    0     11  0.545455
one else            6     5     0    47    0     11  0.545455

In [54]:
show_top_neut('PUA')

                fem  masc  neut   it  you  total  fem_frac
word
friend         8014  6655     0   57  403  14669  0.546322
boyfriend      1165  1044     0   51   12   2209  0.527388
person          993  1137     0  161   26   2130  0.466197
best friend     372   425     0    0   23    797  0.466750
cousin          204   234     0    1    0    438  0.465753
bro             126   129     0   34   21    255  0.494118
teacher         102    86     0    0    2    188  0.542553
good friend      83    75     0    0    1    158  0.525316
someone else     71    84     0   14   14    155  0.458065
other friend     57    64     0    1    3    121  0.471074
psychologist     15    17     0    0    1     32  0.468750
drunk friend     16    15     0    0    0     31  0.516129
friend here      14    12     0    1    1     26  0.538462
clerk            12    12     0    5    0     24  0.500000
nerd             12    10     0    7    1     22  0.545455
lead singer       7     8     0    0    0     15  0.466667
employee          6     7     0    5    0     13  0.461538
pimp              6     7     0    3    0     13  0.461538
moron             6     6     0    1    0     12  0.500000
new boyfriend     6     6     0    1    0     12  0.500000
caveman           6     5     0    1    0     11  0.545455

In [55]:
show_top_neut('Incels')

                   fem  masc  neut   it  you  total  fem_frac
word
ex                 447   515     0   89    2    962  0.464657
teacher            254   239     0    0    1    493  0.515213
victim              83    84     0  103    0    167  0.497006
psychologist        56    67     0    6    0    123  0.455285
good friend         54    63     0    0    2    117  0.461538
classmate           56    60     0    0    0    116  0.482759
stranger            53    58     0   76    2    111  0.477477
colleague           46    50     0    0    1     96  0.479167
supervisor          32    34     0    2    1     66  0.484848
beta bux            28    33     0   19    0     61  0.459016
close friend        28    32     0    1    1     60  0.466667
housemate           22    22     0    0    0     44  0.500000
dermatologist       16    18     0   23    0     34  0.470588
clerk               14    13     0    4    0     27  0.518519
head mod            13    12     0   11    0     25  0.520000
pimp                12    13     0    0    0     25  0.480000
soul mate           12    10     0    0    0     22  0.545455
new person           9     9     0    2    0     18  0.500000
sluts                9     9     0   52    0     18  0.500000
cousins              9     9     0    0    0     18  0.500000
journalist           8     9     0    0    0     17  0.470588
potential partner    7     7     0    2    0     14  0.500000
parent               6     7     0   37    0     13  0.461538
infant               5     6     0   17    0     11  0.454545
retards              6     5     0   36    0     11  0.545455
last ex              6     5     0    1    0     11  0.545455

In [56]:
show_top_neut('MGTOW')

               fem  masc  neut   it  you  total  fem_frac
word
boyfriend      639   723     0   26    5   1362  0.469163
baby           567   601     0  585    3   1168  0.485445
coworker       246   218     0    5    2    464  0.530172
partner        241   210     0   55    0    451  0.534368
neighbor        77    84     0   13    0    161  0.478261
asshole         78    80     0  178    1    158  0.493671
attorney        73    80     0   17    1    153  0.477124
writer          56    66     0   10    0    122  0.459016
adult           63    54     0   26    1    117  0.538462
supervisor      46    41     0    9    0     87  0.528736
cops            38    45     0   14    7     83  0.457831
ex boyfriend    27    27     0    1    0     54  0.500000
singer          23    24     0    2    0     47  0.489362
classmate       22    25     0    0    0     47  0.468085
other friend    19    23     0    0    1     42  0.452381
cunts           20    19     0  166    1     39  0.512821
mutual friend   19    18     0    0    0     37  0.513514
little bitch    17    15     0    4    0     32  0.531250
psychopath      13    15     0    3    0     28  0.464286
photographer    13    13     0    1    0     26  0.500000
guest           12    11     0    0    1     23  0.521739
troll           12    11     0   28    0     23  0.521739
family friend   11    11     0    0    0     22  0.500000
investigator    10    11     0    1    1     21  0.476190
alcoholic        9    11     0   17    0     20  0.450000
provider         9    11     0   64    0     20  0.450000
sociopath        9    11     0    5    0     20  0.450000
pedophile        9    10     0   10    0     19  0.473684
first child      8     9     0    2    0     17  0.470588
soul mate        8     8     0    0    0     16  0.500000
tranny           7     8     0   13    0     15  0.466667
good person      7     7     0    0    1     14  0.500000
dudes            6     7     0    7    2     13  0.461538
poor child       6     7     0    1    0     13  0.461538
pharmacist       6     6     0    0    0     12  0.500000
manginas         6     5     0   17    0     11  0.545455
assholes         5     6     0   40    1     11  0.454545

In [59]:
show_top_neut('Femcels')

             fem  masc  neut  it  you  total  fem_frac
word
partner       58    58     0  31    0    116  0.500000
child         30    32     0  16    0     62  0.483871
teacher       26    25     0   0    0     51  0.509804
looksmatch    12    13     0  12    0     25  0.480000
sis           11    11     0   4    2     22  0.500000
incels         9    11     0  91    0     20  0.450000
classmate      6     6     0   0    0     12  0.500000
good friend    6     5     0   0    0     11  0.545455

In [60]:
show_top_neut('FDS')

         fem  masc  neut  it  you  total  fem_frac
word
asshole    7     7     0   8    0     14       0.5

### Gender over time

In [63]:
# These are the words whose % fem ranges over time are the largest,
# maybe top three words with biggest % range in each community, e.g. “cat	10% - 50%”, only calculate fraction 
# if there are more than 10 occurrences in each community and month. 

def show_top_fem_range(cat):
    # filtering for the argument category
    cat_df = df[df.category == cat]
    totals = cat_df.groupby(['month', 'word'], as_index = False).sum()
    totals['total'] = totals['fem'] + totals['masc']
    totals = totals[totals['total'] > 10]
    totals['fem_frac'] = totals['fem'] / (totals['fem'] + totals['masc'])
    
    # filter for words that show up in more than 1 of the months/time periods 
    # (initially picked 85 to be more than half of all the months but idk if needed)
    is_multi = totals["word"].value_counts() > 1
    filtered = totals[totals["word"].isin(is_multi[is_multi].index)]
    
    # get the max and min fem_frac for each word
    word_keys = filtered['word'].unique().tolist()
    max_fems = []
    min_fems = []
    max_months = []
    min_months = []
    for word in word_keys: 
        df_subset = filtered[filtered['word'] == word]
        max_fem = df_subset['fem_frac'].max()
        min_fem = df_subset['fem_frac'].min()
        max_month = df_subset[df_subset['fem_frac'] == max_fem]['month'].max()
        min_month = df_subset[df_subset['fem_frac'] == min_fem]['month'].min()
        
        max_fems.append(max_fem)
        min_fems.append(min_fem)
        max_months.append(max_month)
        min_months.append(min_month)
    
    
    d = {'word': [], 'min month': [], 'min': [], 'max month': [], 'max':[], 'diff': []}
    for i in range(len(word_keys)):
        d['word'].append(word_keys[i])
        d['min month'].append(min_months[i])
        d['min'].append(min_fems[i])
        d['max month'].append(max_months[i])
        d['max'].append(max_fems[i])
        d['diff'].append(max_fems[i] - min_fems[i])
    
    diffs = pd.DataFrame(data=d)
    return diffs.sort_values(by = ['diff'], ascending = False)

In [64]:
# words in each month in Incels that appear more than 10 times in that month
show_top_fem_range("Incels")

             word min month       min max month       max      diff
5      girlfriend   2019-04  0.042298   2019-07  1.000000  0.957702
30       roommate   2018-06  0.000000   2017-06  0.714286  0.714286
10             ex   2018-01  0.214286   2011-09  0.916667  0.702381
24       coworker   2019-04  0.333333   2017-06  0.937500  0.604167
29        partner   2018-11  0.166667   2019-12  0.750000  0.583333
..            ...       ...       ...       ...       ...       ...
70  average woman   2018-04  1.000000   2018-10  1.000000  0.000000
68       ugly man   2018-03  0.000000   2018-06  0.000000  0.000000
64      same girl   2017-10  1.000000   2018-05  1.000000  0.000000
42      cute girl   2016-12  1.000000   2018-11  1.000000  0.000000
85   perfect girl   2019-01  1.000000   2019-05  1.000000  0.000000

[86 rows x 6 columns]

In [65]:
show_top_fem_range("TRP")

             word min month       min max month       max      diff
48        teacher   2017-05  0.000000   2014-10  0.823529  0.823529
49         fiance   2018-09  0.185185   2019-09  1.000000  0.814815
69       coworker   2015-08  0.142857   2016-08  0.916667  0.773810
55      professor   2016-02  0.090909   2015-12  0.769231  0.678322
41         doctor   2013-11  0.000000   2019-01  0.666667  0.666667
..            ...       ...       ...       ...       ...       ...
50       good man   2014-01  0.000000   2018-12  0.000000  0.000000
87      next girl   2014-10  1.000000   2018-06  1.000000  0.000000
63  average woman   2014-03  1.000000   2017-10  1.000000  0.000000
71     good woman   2014-04  1.000000   2015-01  1.000000  0.000000
80      young man   2014-07  0.000000   2016-01  0.000000  0.000000

[105 rows x 6 columns]

In [66]:
show_top_fem_range("MRA")

                 word min month       min max month       max      diff
26            teacher   2014-09  0.250000   2019-12  1.000000  0.750000
32             rapist   2013-05  0.083333   2017-07  0.800000  0.716667
40            officer   2012-10  0.000000   2019-12  0.714286  0.714286
31            partner   2013-03  0.117647   2015-07  0.785714  0.668067
25                 ex   2011-12  0.347826   2017-06  1.000000  0.652174
22             lawyer   2017-11  0.000000   2018-08  0.611111  0.611111
18               baby   2017-03  0.096774   2016-01  0.687500  0.590726
16             author   2012-03  0.217391   2018-04  0.785714  0.568323
35             doctor   2013-10  0.000000   2011-08  0.545455  0.545455
53          professor   2013-11  0.266667   2017-03  0.800000  0.533333
24          boyfriend   2010-10  0.083333   2014-09  0.611111  0.527778
17             friend   2011-08  0.181818   2017-11  0.685185  0.503367
44            accuser   2013-09  0.500000   2019-03  1.000000  0.500000
34             victim   2015-01  0.233333   2019-10  0.727273  0.493939
42               dude   2012-04  0.000000   2014-09  0.454545  0.454545
15             person   2010-08  0.133333   2010-12  0.578947  0.445614
39               male   2012-11  0.045455   2014-02  0.461538  0.416084
28              bitch   2016-10  0.611111   2016-07  1.000000  0.388889
58         prosecutor   2015-08  0.166667   2014-07  0.538462  0.371795
11            someone   2018-01  0.035714   2019-11  0.392857  0.357143
2               child   2010-09  0.139535   2009-07  0.466667  0.327132
13                kid   2010-06  0.000000   2011-11  0.318182  0.318182
20                dad   2018-05  0.000000   2010-06  0.294118  0.294118
49            manager   2012-10  0.142857   2015-03  0.416667  0.273810
52               boss   2013-01  0.000000   2019-12  0.272727  0.272727
57           reporter   2015-05  0.461538   2013-09  0.733333  0.271795
29           feminist   2013-12  0.733333   2019-10  1.000000  0.266667
54             writer   2013-04  0.473684   2015-09  0.727273  0.253589
19            brother   2010-08  0.000000   2014-12  0.250000  0.250000
36             female   2011-10  0.750000   2019-09  1.000000  0.250000
37              buddy   2013-01  0.181818   2011-02  0.428571  0.246753
48             driver   2012-11  0.086957   2014-04  0.333333  0.246377
21         girlfriend   2011-07  0.769231   2019-08  1.000000  0.230769
7                 boy   2009-02  0.000000   2018-05  0.210526  0.210526
43             cousin   2012-08  0.500000   2012-09  0.705882  0.205882
51              uncle   2012-10  0.166667   2017-04  0.363636  0.196970
14                mom   2009-12  0.818182   2019-04  1.000000  0.181818
38               lady   2011-07  0.818182   2019-12  1.000000  0.181818
4              father   2008-12  0.000000   2009-10  0.142857  0.142857
55           attorney   2013-06  0.230769   2014-05  0.363636  0.132867
10           daughter   2018-11  0.886364   2019-12  1.000000  0.113636
23             sister   2018-09  0.888889   2019-12  1.000000  0.111111
45            ex wife   2013-12  0.909091   2019-02  1.000000  0.090909
33           that guy   2010-12  0.000000   2019-10  0.090909  0.090909
50          president   2012-10  0.000000   2016-11  0.090909  0.090909
56  biological father   2014-05  0.000000   2013-07  0.076923  0.076923
9              mother   2009-10  0.923077   2019-10  1.000000  0.076923
46        grandmother   2013-03  0.923077   2012-09  1.000000  0.076923
30        little girl   2012-08  0.923077   2017-06  1.000000  0.076923
5             husband   2009-01  0.000000   2009-11  0.071429  0.071429
12                son   2009-08  0.000000   2016-08  0.066667  0.066667
27              women   2013-03  0.937500   2019-06  1.000000  0.062500
0               woman   2008-07  0.941176   2014-01  1.000000  0.058824
8                 guy   2009-02  0.000000   2009-05  0.058824  0.058824
3                girl   2017-02  0.944882   2018-02  1.000000  0.055118
1                 man   2008-07  0.000000   2009-10  0.043478  0.043478
6                wife   2009-07  0.956522   2019-08  1.000000  0.043478
47         bus driver   2012-11  0.153846   2012-10  0.172414  0.018568
41          young man   2011-05  0.000000   2019-01  0.000000  0.000000

In [67]:
show_top_fem_range("PUA")

              word min month       min max month       max      diff
8          someone   2011-04  0.086957   2018-02  0.750000  0.663043
33              ex   2013-03  0.266667   2012-08  0.916667  0.650000
11          person   2013-07  0.142857   2017-04  0.750000  0.607143
4        boyfriend   2017-07  0.235294   2019-03  0.833333  0.598039
12        roommate   2010-11  0.181818   2012-06  0.727273  0.545455
14            dude   2019-12  0.000000   2019-05  0.500000  0.500000
39        coworker   2019-04  0.461538   2017-06  0.916667  0.455128
26     best friend   2012-05  0.272727   2013-01  0.666667  0.393939
9            buddy   2012-06  0.000000   2013-07  0.370370  0.370370
27         brother   2011-07  0.000000   2017-08  0.363636  0.363636
36            mate   2013-01  0.181818   2014-01  0.538462  0.356643
13       bartender   2011-04  0.272727   2011-01  0.583333  0.310606
3           friend   2018-12  0.403670   2010-08  0.684211  0.280541
24             dad   2012-11  0.055556   2012-09  0.333333  0.277778
21           chick   2019-06  0.750000   2019-11  1.000000  0.250000
6       girlfriend   2018-10  0.809524   2019-12  1.000000  0.190476
17        that guy   2011-01  0.000000   2018-12  0.187500  0.187500
19       other guy   2011-02  0.000000   2015-11  0.187500  0.187500
22            lady   2012-02  0.850000   2019-08  1.000000  0.150000
5              man   2010-06  0.000000   2015-07  0.120000  0.120000
31          cousin   2011-12  0.363636   2013-07  0.470588  0.106952
15             mom   2013-10  0.900000   2019-10  1.000000  0.100000
7           sister   2012-09  0.904762   2019-10  1.000000  0.095238
34      first girl   2016-06  0.909091   2019-04  1.000000  0.090909
30          father   2011-09  0.000000   2012-09  0.090909  0.090909
20             kid   2011-04  0.000000   2011-03  0.090909  0.090909
25          mother   2012-03  0.923077   2015-01  1.000000  0.076923
23            wife   2018-04  0.923077   2019-12  1.000000  0.076923
16      other girl   2011-11  0.923077   2019-09  1.000000  0.076923
18       cute girl   2015-09  0.933333   2019-12  1.000000  0.066667
10        one girl   2019-04  0.935484   2019-12  1.000000  0.064516
2              guy   2010-02  0.000000   2017-12  0.046784  0.046784
0             girl   2010-07  0.973077   2015-05  1.000000  0.026923
1            woman   2015-11  0.983607   2019-12  1.000000  0.016393
28       same girl   2012-08  0.909091   2011-07  0.923077  0.013986
29        hot girl   2011-08  1.000000   2019-12  1.000000  0.000000
32        new girl   2012-02  1.000000   2019-04  1.000000  0.000000
35       next girl   2012-10  1.000000   2014-12  1.000000  0.000000
37         husband   2013-11  0.000000   2019-09  0.000000  0.000000
38  beautiful girl   2014-06  1.000000   2019-08  1.000000  0.000000

In [68]:
show_top_fem_range("MGTOW")

             word min month       min max month       max      diff
30         author   2018-06  0.090909   2018-11  0.785714  0.694805
59        partner   2019-07  0.222222   2017-12  0.875000  0.652778
70            bro   2019-07  0.000000   2018-04  0.636364  0.636364
32         cousin   2016-10  0.260870   2017-10  0.785714  0.524845
63       coworker   2018-12  0.230769   2019-07  0.714286  0.483516
..            ...       ...       ...       ...       ...       ...
78         prince   2018-05  0.260870   2018-12  0.272727  0.011858
77  average woman   2018-04  1.000000   2018-12  1.000000  0.000000
84    little girl   2018-11  1.000000   2018-12  1.000000  0.000000
53        old man   2017-07  0.000000   2019-05  0.000000  0.000000
87    average man   2019-07  0.000000   2019-12  0.000000  0.000000

[88 rows x 6 columns]

In [69]:
show_top_fem_range("MGTOW")

             word min month       min max month       max      diff
30         author   2018-06  0.090909   2018-11  0.785714  0.694805
59        partner   2019-07  0.222222   2017-12  0.875000  0.652778
70            bro   2019-07  0.000000   2018-04  0.636364  0.636364
32         cousin   2016-10  0.260870   2017-10  0.785714  0.524845
63       coworker   2018-12  0.230769   2019-07  0.714286  0.483516
..            ...       ...       ...       ...       ...       ...
78         prince   2018-05  0.260870   2018-12  0.272727  0.011858
77  average woman   2018-04  1.000000   2018-12  1.000000  0.000000
84    little girl   2018-11  1.000000   2018-12  1.000000  0.000000
53        old man   2017-07  0.000000   2019-05  0.000000  0.000000
87    average man   2019-07  0.000000   2019-12  0.000000  0.000000

[88 rows x 6 columns]

In [70]:
show_top_fem_range("Femcels")

          word min month       min max month       max      diff
21     partner   2019-01  0.416667   2019-08  1.000000  0.583333
14      person   2019-07  0.000000   2019-04  0.529412  0.529412
6       friend   2018-07  0.312500   2018-09  0.807692  0.495192
19   boyfriend   2019-03  0.058824   2019-05  0.391304  0.332481
9      someone   2018-10  0.050000   2019-03  0.333333  0.283333
3           ex   2018-12  0.454545   2018-06  0.666667  0.212121
12         dad   2019-01  0.000000   2019-07  0.187500  0.187500
15        dude   2019-03  0.000000   2018-11  0.166667  0.166667
20  girlfriend   2019-04  0.833333   2019-11  1.000000  0.166667
7       mother   2019-12  0.833333   2019-11  1.000000  0.166667
10      sister   2019-03  0.842105   2019-10  1.000000  0.157895
8          mom   2018-08  0.846154   2019-12  1.000000  0.153846
11     brother   2018-10  0.000000   2019-04  0.105263  0.105263
13     husband   2018-11  0.000000   2018-10  0.100000  0.100000
5         wife   2018-11  0.909091   2019-10  1.000000  0.090909
17      femcel   2018-12  0.909091   2019-02  1.000000  0.090909
1          man   2018-05  0.000000   2018-07  0.071429  0.071429
16      father   2018-11  0.000000   2019-05  0.062500  0.062500
4         girl   2019-12  0.957143   2018-11  1.000000  0.042857
0          guy   2018-05  0.000000   2018-09  0.032967  0.032967
2        woman   2018-10  0.968992   2019-12  1.000000  0.031008
18    that guy   2018-12  0.000000   2019-07  0.000000  0.000000
22         boy   2019-03  0.000000   2019-04  0.000000  0.000000

In [71]:
show_top_fem_range("FDS")

           word min month       min max month       max      diff
5          dude   2019-10  0.000000   2019-11  0.179104  0.179104
2          girl   2019-07  0.833333   2019-10  1.000000  0.166667
12   girlfriend   2019-11  0.791667   2019-10  0.941176  0.149510
9           dad   2019-10  0.055556   2019-12  0.158879  0.103323
8     boyfriend   2019-10  0.115385   2019-11  0.216667  0.101282
27       father   2019-12  0.000000   2019-11  0.100000  0.100000
17       person   2019-10  0.000000   2019-12  0.095238  0.095238
16      partner   2019-11  0.086957   2019-12  0.178571  0.091615
7        friend   2019-11  0.609375   2019-09  0.692308  0.082933
28          kid   2019-12  0.086957   2019-11  0.166667  0.079710
6            ex   2019-12  0.034843   2019-09  0.111111  0.076268
22  best friend   2019-12  0.590909   2019-11  0.666667  0.075758
26        child   2019-12  0.312500   2019-11  0.375000  0.062500
0           man   2019-05  0.000000   2019-07  0.057143  0.057143
13          mom   2019-11  0.901639   2019-10  0.944444  0.042805
24          boy   2019-11  0.000000   2019-12  0.041667  0.041667
18       sister   2019-12  0.913793   2019-10  0.947368  0.033575
4       husband   2019-08  0.000000   2019-10  0.030769  0.030769
20     that guy   2019-10  0.000000   2019-12  0.026316  0.026316
10     daughter   2019-12  0.979167   2019-11  1.000000  0.020833
14       mother   2019-11  0.979592   2019-10  1.000000  0.020408
19      someone   2019-10  0.071429   2019-12  0.091743  0.020315
25      brother   2019-12  0.018182   2019-11  0.038462  0.020280
21         wife   2019-11  0.985507   2019-10  1.000000  0.014493
1         woman   2019-12  0.985653   2019-09  1.000000  0.014347
3           guy   2019-07  0.000000   2019-09  0.012048  0.012048
15      one guy   2019-10  0.000000   2019-12  0.000000  0.000000
23           bf   2019-11  0.000000   2019-12  0.000000  0.000000
11   ex husband   2019-10  0.000000   2019-12  0.000000  0.000000
29          son   2019-11  0.000000   2019-12  0.000000  0.000000

### Popular words in control

In [53]:
control_df = pd.read_csv('pronoun_control_df.csv')

def show_top_fem_control(): 
    control_totals = control_df.groupby('word').sum()
    control_totals['total'] = control_totals['fem'] + control_totals['masc'] 
    # filter to only those that appear more than 10 times as she or he
    control_totals = control_totals[control_totals['total'] > 10] 
    control_totals['fem_frac'] = control_totals['fem'] / (control_totals['fem'] + control_totals['masc'])
    control_fem = control_totals[control_totals['fem_frac'] == 1]
    return control_fem.sort_values(by=['total'], ascending = False)

def show_top_masc_control(): 
    control_totals = control_df.groupby('word').sum()
    control_totals['total'] = control_totals['fem'] + control_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    control_totals = control_totals[control_totals['total'] > 10] 
    control_totals['masc_frac'] = control_totals['masc'] / (control_totals['fem'] + control_totals['masc'])
    control_masc = control_totals[control_totals['masc_frac'] == 1]
    return control_masc.sort_values(by=['total'], ascending = False)

def show_top_neut_control(): 
    control_totals = control_df.groupby('word').sum()
    control_totals['total'] = control_totals['fem'] + control_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    control_totals = control_totals[control_totals['total'] > 10] 
    control_totals['fem_frac'] = control_totals['fem'] / (control_totals['fem'] + control_totals['masc'])
    control_neut = control_totals[control_totals['fem_frac'].between(0.45, 0.55)]
    return control_neut.sort_values(by=['total'], ascending = False)

In [ ]:
show_top_neut_control()

### Gender differences

In [54]:
# len(df.word.unique()
df = df.groupby('word').sum()
df['total'] = df['fem'] + df['masc']
df = df[df['total'] > 10] 
df['fem_frac'] = df['fem'] / (df['fem'] + df['masc'])
df = df.sort_values(by=['fem'], ascending = False)
df

                  fem  masc  neut   total  fem_frac
word
girl           308205  2567   226  310772  0.991740
woman          248514  1024   838  249538  0.995896
wife            74069   576    55   74645  0.992283
mother          31271   275   139   31546  0.991283
mom             23830   893   186   24723  0.963880
...               ...   ...   ...     ...       ...
physicist           0    29     1      29  0.000000
tall man            0    59     1      59  0.000000
soccer player       0    11     0      11  0.000000
great leader        0    12     0      12  0.000000
weird guy           0    28     0      28  0.000000

[1918 rows x 5 columns]

In [56]:
control_df = control_df.groupby('word').sum()
control_df['total'] = control_df['fem'] + control_df['masc']
control_df = control_df[control_df['total'] > 10] 
control_df['fem_frac'] = control_df['fem'] / (control_df['fem'] + control_df['masc'])
control_df = control_df.sort_values(by=['fem'], ascending = False)
control_df

               fem  masc  neut  total  fem_frac
word
mom          22693   764   200  23457  0.967430
wife         22389   165    18  22554  0.992684
girl         22147   269    29  22416  0.988000
woman        17238   131    56  17369  0.992458
mother       13385   107    53  13492  0.992069
...            ...   ...   ...    ...       ...
composer         0    29     7     29  0.000000
common man       0    34     1     34  0.000000
colonel          0    25     0     25  0.000000
college kid      0    13     1     13  0.000000
lineman          0    12     2     12  0.000000

[1140 rows x 5 columns]

In [57]:
merged_df = df.merge(control_df, how='inner', left_index=True, right_index=True)
merged_df

,fem_x,masc_x,neut_x,total_x,fem_frac_x,fem_y,masc_y,neut_y,total_y,fem_frac_y
word,,,,,,,,,,
girl,308205,2567,226,310772,0.991740,22147,269,29,22416,0.988000
woman,248514,1024,838,249538,0.995896,17238,131,56,17369,0.992458
wife,74069,576,55,74645,0.992283,22389,165,18,22554,0.992684
mother,31271,275,139,31546,0.991283,13385,107,53,13492,0.992069
mom,23830,893,186,24723,0.963880,22693,764,200,23457,0.967430
...,...,...,...,...,...,...,...,...,...,...
layman,0,11,0,11,0.000000,1,11,0,12,0.083333
first man,0,69,0,69,0.000000,0,31,0,31,0.000000
physicist,0,29,1,29,0.000000,1,22,2,23,0.043478
tall man,0,59,1,59,0.000000,0,17,0,17,0.000000
great leader,0,12,0,12,0.000000,0,19,0,19,0.000000

In [59]:
merged_df['difference'] = (merged_df['fem_frac_x'] - merged_df['fem_frac_y']).abs()
merged_df = merged_df.sort_values(by=['difference'], ascending = False)

In [61]:
merged_df

,fem_x,masc_x,neut_x,total_x,fem_frac_x,fem_y,masc_y,neut_y,total_y,fem_frac_y,difference
word,,,,,,,,,,,
brat,21,5,1,26,0.807692,2,10,1,12,0.166667,0.641026
expert,68,35,25,103,0.660194,8,48,31,56,0.142857,0.517337
band,15,2,382,17,0.882353,8,13,1799,21,0.380952,0.501401
cunt,789,205,60,994,0.793763,35,77,12,112,0.312500,0.481263
sitter,11,3,1,14,0.785714,7,14,0,21,0.333333,0.452381
...,...,...,...,...,...,...,...,...,...,...,...
trans woman,131,0,1,131,1.000000,73,0,4,73,1.000000,0.000000
grown woman,120,0,5,120,1.000000,32,0,0,32,1.000000,0.000000
own daughter,112,0,0,112,1.000000,48,0,0,48,1.000000,0.000000
great woman,103,0,0,103,1.000000,12,0,0,12,1.000000,0.000000
great leader,0,12,0,12,0.000000,0,19,0,19,0.000000,0.000000

### Pronoun sparsity

In [84]:
df = pd.read_csv('pronoun_df.csv')
# df = df.groupby('word').sum()
# df.shape[0]

# total vocab words that show up in reddit with masc/fem/neut pronouns is 6373

df_totals = df.groupby('word').sum()
# df_totals['total'] = df_totals['fem'] + df_totals['masc'] 
df_totals['total'] = df_totals['fem'] + df_totals['masc'] + df_totals['neut']

df_totals['neut_frac'] = df_totals['neut'] / (df_totals['fem'] + df_totals['masc'] + df_totals['neut'])
df_totals 

df_neut = df_totals[df_totals['neut_frac'] >= 0.5].sort_values(by = ['neut_frac'], ascending = False)
# df_neut.head(20)
df_neut

# df_sparse = df_totals[df_totals['total'] <= 10]
# df_sparse



# 4300 words have less than 10 occurrences with masc or fem pronouns => ~70%
# 1438 words have less than 10 occurrences with masc or fem or neut pronouns => ~23%

# 3716 words are mostly "they" words => ~60%

                    fem  masc  neut  total  neut_frac
word
zombies               0     0    97     97        1.0
monarchs              0     0    18     18        1.0
mobile users          0     0     1      1        1.0
mockingbird           0     0     1      1        1.0
moderate feminists    0     0    86     86        1.0
...                 ...   ...   ...    ...        ...
walking wallet        2     0     2      4        0.5
total loser           0     2     2      4        0.5
changs                0     2     2      4        0.5
chick magnet          1     0     1      2        0.5
tradesman             0     8     8     16        0.5

[3716 rows x 5 columns]