In [275]:
from collections import defaultdict, Counter
from tqdm import tqdm
import csv
import os
import pandas as pd
import numpy as np
import random

# Gender inference

Many of the conversations in the manosphere focus on relationships between men and women.

In [107]:
ROOT = '/mnt/data0/lucy/manosphere/'
ANN_FILE = ROOT + 'data/ann_sig_entities.csv'
COREF_RESULTS = ROOT + 'logs/coref_results/'

In [188]:
def load_vocabulary(): 
    words = []
    with open(ANN_FILE, 'r') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader: 
            if row['keep'] == 'Y': 
                if row['entity'].lower() == 'she' or row['entity'].lower() == 'he': 
                    continue
                words.append(row['entity'].lower())
    return words

Check that categories are all neat and clean with no NaNs.

In [376]:
reddit_df = pd.read_csv(COREF_RESULTS + 'coref_reddit_df.csv')
cats = set(reddit_df.community.unique()) | set(forum_df.community.unique())
assert len(cats) == len(set(reddit_df.community.unique())) + len(set(forum_df.community.unique()))
forum_df = pd.read_csv(COREF_RESULTS + 'coref_forum_df.csv')
df = pd.concat([reddit_df, forum_df])
control_df = pd.read_csv(COREF_RESULTS + 'coref_CONTROL_df.csv')
all_df = pd.concat([reddit_df, forum_df, control_df])
cats = set(all_df.community.unique())
print(cats)

{'Femcels', 'the_attraction', 'TRP', 'pua_forum', 'MRA', 'red_pill_talk', 'Incels', 'MGTOW', 'rooshv', 'mgtow', 'avfm', 'incels', 'FDS', 'PUA', 'CONTROL'}

In [368]:
fem_total = sum(df['fem'].to_list())
masc_total = sum(df['masc'].to_list())
print("% fem:", fem_total / (fem_total + masc_total))
print("% masc:", masc_total / (fem_total + masc_total))

% fem: 0.5852356166540743
% masc: 0.4147643833459257

### Word coverage

We want to get a sense of how many words are gendered. Words that are not gendered likely don't show up often enough to matter much, but there is a long tail that could be important to consider. 

First, we get a sense of how many words actually have coref labels (e.g. more than 20 labels):

In [369]:
def get_dataframe_coverage(this_df, cutoff, marked_set): 
    totals = this_df.groupby('word').sum()
    totals['total'] = totals['fem'] + totals['masc']
    totals = totals[totals['total'] > cutoff]
    totals.sort_values(by=['total'])
    solid_labels = totals.index.to_list()
    vocab = load_vocabulary()
    missing = set(vocab) - set(solid_labels) - marked_set
    print("NO GENDER SIGNAL:", len(missing) / len(vocab))
    print("COREF SIGNAL:",len(solid_labels)/ len(vocab))
    print("MARKED SIGNAL:", len(marked_set) / len(vocab))
    print()

In [370]:
get_dataframe_coverage(df, 20, set())
get_dataframe_coverage(control_df, 20, set())

NO GENDER SIGNAL: 0.688549387384662
COREF SIGNAL: 0.3114506126153381
MARKED SIGNAL: 0.0

NO GENDER SIGNAL: 0.8534261080018152
COREF SIGNAL: 0.14657389199818485
MARKED SIGNAL: 0.0

The number of words without coref signals is pretty low! It seems like we need **_multiple ways_** to infer the gender of an entity. 

**Step 1**: semantically gendered nouns, or nouns gendered by definition

We left out nouns that are socially gendered, e.g. "nurse". We use singular and plural forms. 

Hoyle et al. (2019) - man, men, boy, boys, father, fathers, son, sons, brother, bothers, husband, husbands, uncle, uncles, nephew, nephews, emperor, emperors, king, kings, prince, princes, duke, dukes, lord, lords, knight, knights, waiter, waiters, actor, actors, god, gods, policeman, policemen, postman, postmen, hero, heros, wizard, wizards, steward, stewards, woman, women, girl, girls, mother, mothers, daughter, daughters, sister, sisters, wife, wives, aunt, aunts, niece, nieces, empress, empresses, queen, queens, princess, princesses, duchess, duchesses, lady, ladies, dame, dames, waitress, waitresses, actress, actresses, goddess, goddesses, policewoman, policewomen, postwoman, postwomen, heroine, heroines, witch, witches, stewardess, stewardesses

Additional - male, males, dude, dudes, guy, guys, boyfriend, boyfriends, bf, female, females, chick, chicks, girlfriend, girlfriends, gf, gal, gals

In [359]:
men_markers = 'man, men, boy, boys, father, fathers, son, sons, brother, bothers, husband, husbands, uncle, uncles, nephew, nephews, emperor, emperors, king, kings, prince, princes, duke, dukes, lord, lords, knight, knights, waiter, waiters, actor, actors, god, gods, policeman, policemen, postman, postmen, hero, heros, wizard, wizards, steward, stewards, '
men_markers += 'male, males, dude, dudes, boyfriend, boyfriends, bf, guy, guys'
men_markers = set(men_markers.split(', '))
women_markers = 'woman, women, girl, girls, mother, mothers, daughter, daugheters, sister, sisters, wife, wives, aunt, aunts, niece, nieces, empress, empresses, queen, queens, princess, princesses, duchess, duchesses, lady, ladies, dame, dames, waitress, waitresses, actress, actresses, goddess, goddesses, policewoman, policewomen, postwoman, postwomen, heroine, heroines, witch, witches, stewardess, stewardesses, '
women_markers += 'female, females, chick, chicks, girlfriend, girlfriends, gf, gal, gals'
women_markers = set(women_markers.split(', '))
print(men_markers)
print(women_markers)

{'fathers', 'emperors', 'actors', 'boy', 'kings', 'dude', 'dudes', 'postmen', 'nephew', 'hero', 'male', 'steward', 'sons', 'postman', 'lord', 'bf', 'king', 'waiter', 'boyfriend', 'bothers', 'knights', 'wizards', 'brother', 'boyfriends', 'males', 'waiters', 'princes', 'gods', 'prince', 'uncle', 'guys', 'emperor', 'dukes', 'actor', 'nephews', 'boys', 'duke', 'father', 'husbands', 'knight', 'heros', 'policemen', 'wizard', 'stewards', 'men', 'son', 'husband', 'god', 'policeman', 'man', 'uncles', 'lords', 'guy'}
{'girls', 'wives', 'chicks', 'empresses', 'princess', 'lady', 'queen', 'actresses', 'women', 'witches', 'princesses', 'gf', 'dame', 'stewardess', 'females', 'wife', 'actress', 'duchess', 'gal', 'heroines', 'nieces', 'girlfriend', 'ladies', 'aunts', 'waitress', 'girl', 'queens', 'policewoman', 'duchesses', 'policewomen', 'waitresses', 'goddesses', 'female', 'daughter', 'mothers', 'postwomen', 'aunt', 'heroine', 'gals', 'woman', 'sisters', 'daugheters', 'empress', 'chick', 'goddess', 'stewardesses', 'girlfriends', 'sister', 'dames', 'mother', 'niece', 'postwoman', 'witch'}

In [360]:
marked_vocab_men = set()
marked_vocab_women = set()
vocab = load_vocabulary()
for w in vocab: 
    w_tokens = set(w.split())
    if w_tokens & men_markers: 
        marked_vocab_men.add(w)
    elif w_tokens & women_markers:
        marked_vocab_women.add(w)
marked_vocab = marked_vocab_men | marked_vocab_women
print("Count, fraction of vocab, examples")
print("marked men:".upper(), len(marked_vocab_men), round(len(marked_vocab_men) / len(vocab), 3), 
      random.sample(marked_vocab_men, 10))
print("marked women:".upper(), len(marked_vocab_women), round(len(marked_vocab_women) / len(vocab), 3), 
      random.sample(marked_vocab_women, 10))

Count, fraction of vocab, examples
MARKED MEN: 956 0.145 ['naked man', 'western men', 'best man', 'white dudes', 'brown men', 'confident guy', 'naked men', 'average men', 'boring guy', 'one boy']
MARKED WOMEN: 1011 0.153 ['other women', 'female managers', 'married girl', 'uglier girls', 'we women', 'two girls', 'you ladies', 'hotter girls', 'slutty girls', 'second wife']

**Step 2:** coreference resolution for singular nouns 

First, we filter the dataframes to words that are not explicitly marked, and we again calculate coverage.

In [371]:
unmarked_df = df[~df['word'].isin(marked_vocab)]
unmarked_control_df = control_df[~control_df['word'].isin(marked_vocab)]
unmarked_all_df = pd.concat([unmarked_df, unmarked_control_df])

In [372]:
get_dataframe_coverage(unmarked_df, 20, marked_vocab)
get_dataframe_coverage(unmarked_control_df, 20, marked_vocab)

NO GENDER SIGNAL: 0.5162607774920587
COREF SIGNAL: 0.18620481016487672
MARKED SIGNAL: 0.2975344123430646

NO GENDER SIGNAL: 0.5991529269399486
COREF SIGNAL: 0.10331266071698685
MARKED SIGNAL: 0.2975344123430646

**Step 3**: plural nouns take on gender of singular nouns

**Step 4:** bigrams take on unigram gender if modifier does not change semantic gender

### Popular fem words in manosphere++

In [377]:
def show_top_fem(cat, this_df): 
    cat_df = this_df[this_df.community == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['fem_frac'] = cat_totals['fem'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_fem = cat_totals[cat_totals['fem_frac'] == 1]
    return cat_fem.sort_values(by=['total'])

In [378]:
for cat in cats: 
    print('------' + cat + '-------')
    print(show_top_fem(cat, unmarked_all_df).head())

------Femcels-------
Empty DataFrame
Columns: [year, fem, masc, they, it, you, total, fem_frac]
Index: []
------the_attraction-------
             year  fem  masc  they  it  you  total  fem_frac
word
duff         6021   11     0     0   1    0     11       1.0
escort      16083   11     0     1   2    0     11       1.0
playmate    14070   12     0     0   0    0     12       1.0
hot blonde  12064   12     0     0   1    0     12       1.0
stacy       10040   12     0     0   0    1     12       1.0
------TRP-------
                year  fem  masc  they  it  you  total  fem_frac
word
hot blonde     10080   11     0     0   0    0     11       1.0
old bitch      14112   11     0     0   2    0     11       1.0
potential ltr  12099   12     0     6   8    0     12       1.0
milf           12099   12     0     1   9    0     12       1.0
housekeeper    12093   12     0     0   0    0     12       1.0
------pua_forum-------
                year  fem  masc  they   it  you  total  fem_frac
word
cute brunette  12076   11     0     0    1    0     11       1.0
granny         12067   11     0     0    0    0     11       1.0
momma          12060   11     0     0    1    0     11       1.0
exgf           16090   12     0     1    5    0     12       1.0
pua community  24150   12     0    25  125    0     12       1.0
------MRA-------
             year  fem  masc  they  it  you  total  fem_frac
word
baby momma  16124   18     0     0   1    0     18       1.0
porn star   18135   18     0     1   2    0     18       1.0
momma       20145   34     0     0   1    1     34       1.0
becky       14107   38     0     0   0    1     38       1.0
------red_pill_talk-------
             year  fem  masc  they  it  you  total  fem_frac
word
mommy        6045   11     0     0   0    0     11       1.0
single mom   8062   24     0     0   3    0     24       1.0
escort      10080   68     0     3  20    0     68       1.0
------Incels-------
             year  fem  masc  they  it  you  total  fem_frac
word
exwife      10085   12     0     0   2    0     12       1.0
sloot        6050   13     0     0   0    0     13       1.0
ugly bitch   8070   15     0     0   1    0     15       1.0
daughters   12095   19     0    78   0    2     19       1.0
hostess     18135   19     0     0   1    0     19       1.0
------MGTOW-------
                  year  fem  masc  they  it  you  total  fem_frac
word
dancer            8070   11     0     0   0    0     11       1.0
sisterhood        8070   11     0     9   8    0     11       1.0
feminist friend  10085   11     0     0   0    0     11       1.0
housekeeper       8070   11     0     0   0    0     11       1.0
ugly bitch       10085   13     0     0   1    0     13       1.0
------rooshv-------
                year  fem  masc  they  it  you  total  fem_frac
word
cute brunette  10070   11     0     0   0    0     11       1.0
sis            12081   11     0     0   0    0     11       1.0
one bitch      16116   14     0     0   1    0     14       1.0
stepdaughter   12096   14     0     0   0    0     14       1.0
milf           20145   15     0     5   5    0     15       1.0
------mgtow-------
              year  fem  masc  they  it  you  total  fem_frac
word
becky         8065   11     0     0   0    0     11       1.0
hostess       8066   11     0     0   0    0     11       1.0
housewife     8066   11     0     0   1    0     11       1.0
escort        8062   14     0     2   8    0     14       1.0
receptionist  8066   14     0     0   1    0     14       1.0
------avfm-------
             year  fem  masc  they  it  you  total  fem_frac
word
children    16124   12     0  1308   3    3     12       1.0
whore       12087   12     0     0   3    0     12       1.0
single mom  12087   16     0     0   3    1     16       1.0
grandma     10075   24     0     0   0    0     24       1.0
------incels-------
             year  fem  masc  they  it  you  total  fem_frac
word
housewife    4037   13     0     0   0    0     13       1.0
daughters    6054   18     0    51   1    0     18       1.0
bride        6054   21     0     2   4    0     21       1.0
mommy        6054   34     0     0   0    0     34       1.0
grandmother  6054   60     0     0   1    0     60       1.0
------FDS-------
       year  fem  masc  they  it  you  total  fem_frac
word
stacy  2019   16     0     0   0    0     16       1.0
------PUA-------
             year  fem  masc  they   it  you  total  fem_frac
word
community   22154   12     0    81  811    0     12       1.0
hb1         14094   13     0     1    1    0     13       1.0
hot blonde  16113   15     0     0    1    0     15       1.0
wingwoman   16113   15     0     0    9    0     15       1.0
milf        18135   16     0     4    6    1     16       1.0
------CONTROL-------
                 year  fem  masc  they    it  you  total  fem_frac
word
exgf            12085   11     0     0     3    0     11       1.0
home mom        12095   12     0     2     0    0     12       1.0
married couple  18135   12     0    48     1    0     12       1.0
supermodel      14108   12     0     0     5    0     12       1.0
community       28175   15     0   633  2782    1     15       1.0

### Popular masc words in reddit

In [379]:
def show_top_masc(cat, this_df): 
    cat_df = this_df[this_df.community == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['masc_frac'] = cat_totals['masc'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_masc = cat_totals[cat_totals['masc_frac'] == 1]
    return cat_masc.sort_values(by=['total'])

In [380]:
for cat in cats: 
    print('------' + cat + '-------')
    print(show_top_masc(cat, unmarked_df).head())

------Femcels-------
Empty DataFrame
Columns: [year, fem, masc, they, it, you, total, masc_frac]
Index: []
------the_attraction-------
             year  fem  masc  they  it  you  total  masc_frac
word
cabbie      10040    0    11     0   1    0     11        1.0
hitman      10047    0    11     0   0    1     11        1.0
one kid     16079    0    13     0   0    0     13        1.0
best buddy  18095    0    14     0   0    0     14        1.0
captain     16078    0    15     0   0    0     15        1.0
------TRP-------
                    year  fem  masc  they  it  you  total  masc_frac
word
beginner           14112    0    11     2  13    0     11        1.0
physicist          12099    0    11     0   1    0     11        1.0
mailman            12093    0    11     0   2    0     11        1.0
college professor  12099    0    11     0   0    0     11        1.0
turk               10081    0    12     0   0    0     12        1.0
------pua_forum-------
          year  fem  masc  they  it  you  total  masc_frac
word
anybody  24138    0    11    98   1    2     11        1.0
priest   12063    0    11     0   0    0     11        1.0
devil    18106    0    12     2   4    0     12        1.0
farmer   10050    0    13     1   2    1     13        1.0
idiot    18109    0    13     0  25    0     13        1.0
------MRA-------
                  year  fem  masc  they  it  you  total  masc_frac
word
white kid        12089    0    11     0   0    0     11        1.0
chef             14112    0    11     0   2    0     11        1.0
public defender  12089    0    11     0   9    0     11        1.0
foreman          12083    0    11     0   3    0     11        1.0
grandad          18131    0    11     0   1    0     11        1.0
------red_pill_talk-------
            year  fem  masc  they  it  you  total  masc_frac
word
one kid     4029    0    11     0   0    0     11        1.0
sluthater   4029    0    12     2   1    0     12        1.0
coach       8063    0    13     0   0    0     13        1.0
politician  8066    0    13     0   0    0     13        1.0
prophet     8064    0    13     0   1    0     13        1.0
------Incels-------
                 year  fem  masc  they  it  you  total  masc_frac
word
cheater          6053    0    11     1   0    0     11        1.0
goober           6054    0    11     0   0    0     11        1.0
granddad         8064    0    11     0   0    0     11        1.0
serial killers  16124    0    12    72   6    0     12        1.0
mass murderer    8067    0    12     2   1    0     12        1.0
------MGTOW-------
               year  fem  masc  they  it  you  total  masc_frac
word
younger self   6051    0    11     0   0    1     11        1.0
lone wolf      8070    0    11     0   3    0     11        1.0
programmer     8070    0    13     2   3    0     13        1.0
vp             6054    0    13     0   1    0     13        1.0
chump         10085    0    14     3   4    0     14        1.0
------rooshv-------
            year  fem  masc  they  it  you  total  masc_frac
word
lone wolf  14104    0    11     1   6    0     11        1.0
sensei     10080    0    11     1   1    0     11        1.0
roomate    16112    0    11     0   5    0     11        1.0
preacher   12099    0    11     1   0    0     11        1.0
pal        14103    0    11     0   0    0     11        1.0
------mgtow-------
             year  fem  masc  they  it  you  total  masc_frac
word
salesman     8066    0    12     0   1    0     12        1.0
coward       8066    0    13     0   1    0     13        1.0
billionaire  8066    0    16     1   7    0     16        1.0
chief        8066    0    16     0   1    0     16        1.0
everyman     6051    0    16     1   0    0     16        1.0
------avfm-------
                  year  fem  masc  they  it  you  total  masc_frac
word
devil            12087    0    12     0  12    0     12        1.0
player           10070    0    15     1   3    0     15        1.0
amazing atheist   4027    0    16     0   2    0     16        1.0
owner            14105    0    20     1   4    0     20        1.0
priest           10075    0    21     1   0    0     21        1.0
------incels-------
                  year  fem  masc  they  it  you  total  masc_frac
word
villain           4037    0    11     3   2    0     11        1.0
room mate         6054    0    12     0   0    0     12        1.0
chad thundercock  6054    0    12     0   3    0     12        1.0
enemy             6054    0    12    53  23    0     12        1.0
perpetrator       4037    0    12     0   8    0     12        1.0
------FDS-------
                 year  fem  masc  they  it  you  total  masc_frac
word
current partner  2019    0    11     0   1    0     11        1.0
------PUA-------
               year  fem  masc  they  it  you  total  masc_frac
word
best buddy     8055    0    11     0   0    0     11        1.0
billionaire   14102    0    11     3   4    0     11        1.0
good wingman  14095    0    12     0   2    0     12        1.0
millionaire   16118    0    13     0   0    0     13        1.0
one kid       12092    0    13     0   0    0     13        1.0
------CONTROL-------
Empty DataFrame
Columns: [year, fem, masc, they, it, you, total, masc_frac]
Index: []

### Popular neut words in reddit

In [381]:
def show_top_neut(cat, this_df): 
    cat_df = this_df[this_df.community == cat]
    cat_totals = cat_df.groupby('word').sum()
    cat_totals['total'] = cat_totals['fem'] + cat_totals['masc'] 
    # filter to only those that appear at least 10 times as she or he
    cat_totals = cat_totals[cat_totals['total'] > 10] 
    cat_totals['fem_frac'] = cat_totals['fem'] / (cat_totals['fem'] + cat_totals['masc'])
    cat_neut = cat_totals[cat_totals.fem_frac.between(0.48, 0.52)]
    return cat_neut.sort_values(by=['total'], ascending = False)

In [382]:
for cat in cats: 
    print('------' + cat + '-------')
    print(show_top_neut(cat, unmarked_df).head())

------Femcels-------
            year  fem  masc  they  it  you  total  fem_frac
word
partner     4037   58    58    33  31    0    116  0.500000
child       4037   30    32     3  16    0     62  0.483871
teacher     4037   26    25     0   0    0     51  0.509804
looksmatch  4037   12    13     1  12    0     25  0.480000
classmate   4037    6     6     0   0    0     12  0.500000
------the_attraction-------
              year  fem  masc  they  it  you  total  fem_frac
word
cousin       28161  247   239     2   5    4    486  0.508230
friend here  16068   28    28     1   0    0     56  0.500000
colleague    22122   25    26     0   0    0     51  0.490196
caveman      18090   11    11     0   9    0     22  0.500000
counselor    18090    9     9     0   0    0     18  0.500000
------TRP-------
           year  fem  masc  they   it  you  total  fem_frac
word
teacher   16124  364   383     2    1    5    747  0.487282
asshole   14112  213   213    23  621    3    426  0.500000
victim    14112  209   199     9  206    1    408  0.512255
attorney  14112  118   115    15   10    0    233  0.506438
neighbor  14112   76    80     2   19    0    156  0.487179
------pua_forum-------
               year  fem  masc  they  it  you  total  fem_frac
word
other friend  24138   56    58    11   0    3    114  0.491228
colleague     20115   31    29     0   0    1     60  0.516667
friend here   24138   26    26     0   0    0     52  0.500000
same friend   16093   18    17     0   0    0     35  0.514286
photographer  22132   13    13     5   3    0     26  0.500000
------MRA-------
            year   fem  masc  they    it  you  total  fem_frac
word
victim     24162  1376  1473   140  1177    2   2849  0.482976
author     24162  1340  1434     0   305    1   2774  0.483057
professor  24162   313   323     0    24    2    636  0.492138
cop        22154   119   118     0   229    0    237  0.502110
stranger   22154    52    52    21    50    0    104  0.500000
------red_pill_talk-------
          year  fem  masc  they  it  you  total  fem_frac
word
dentist   8062   14    15     0   1    0     29  0.482759
roommate  6045    9     9     1   0    0     18  0.500000
boyo      6045    6     6     1  10    0     12  0.500000
hubby     2015    6     6     0   0    0     12  0.500000
------Incels-------
             year  fem  masc  they   it  you  total  fem_frac
word
teacher     18135  261   251     0    0    1    512  0.509766
victim      18135   86    87    13  104    0    173  0.497110
classmate   18135   59    60     0    0    0    119  0.495798
stranger    18135   54    58    28   78    4    112  0.482143
supervisor  16121   37    35     5    2    1     72  0.513889
------MGTOW-------
               year  fem  masc  they   it  you  total  fem_frac
word
baby          12099  635   618     3  587    8   1253  0.506784
bro           12099  370   352     3   36  201    722  0.512465
asshole       12099   81    84    12  180    1    165  0.490909
supervisor     8070   47    44     1    9    0     91  0.516484
acquaintance  10085   25    27     2    0    0     52  0.480769
------rooshv-------
             year  fem  masc  they  it  you  total  fem_frac
word
teacher     22154  211   208     0   0    2    419  0.503580
hooker      20145   15    16    25  20    0     31  0.483871
translator  16114    6     6     0   4    1     12  0.500000
------mgtow-------
            year  fem  masc  they   it  you  total  fem_frac
word
baby       12099  154   150     1  141    5    304  0.506579
victim     12099   66    66     2   53    0    132  0.500000
roommate   10080   29    30     0    0    0     59  0.491525
bartender  12099   26    27     2    1    1     53  0.490566
alcoholic  12099    7     7     0    6    0     14  0.500000
------avfm-------
            year  fem  masc  they  it  you  total  fem_frac
word
victim     14105   54    50     4  50    0    104  0.519231
adult      14105   15    14     3   3    0     29  0.517241
bartender   8056    6     6     0   0    1     12  0.500000
blogger    10075    6     6     0   0    0     12  0.500000
------incels-------
              year  fem  masc  they  it  you  total  fem_frac
word
psychologist  6054   16    16     0   1    0     32       0.5
lover         6054   12    12     0   0    0     24       0.5
cop           6054   10    10     0  20    0     20       0.5
teenager      6054   10    10     0   7    0     20       0.5
stranger      4037    9     9     2   3    0     18       0.5
------FDS-------
         year  fem  masc  they  it  you  total  fem_frac
word
asshole  2019    7     7     1   8    0     14       0.5
------PUA-------
               year  fem  masc  they  it  you  total  fem_frac
word
drunk friend  16111   18    17     1   0    0     35  0.514286
moron         12089    6     6     0   1    0     12  0.500000
------CONTROL-------
Empty DataFrame
Columns: [year, fem, masc, they, it, you, total, fem_frac]
Index: []

### Words with "it"

In [383]:
df.sort_values(by=['it'], ascending = False).head(15)

       year community    word  fem  masc  they    it  you
27024  2018     MGTOW   mgtow  354   657   431  3230    6
45598  2019     MGTOW   mgtow  309   443   365  2513    2
33362  2017     MGTOW   mgtow  236   484   327  2164    2
26988  2018    Incels  incels  140   179  3019  1097    4
15892  2016     MGTOW   mgtow   82   199   170   989    3
27124  2018    Incels   incel  170  1167   153   947    1
1722   2013       MRA     mrm   15    22    54   933    0
52965  2015     mgtow   mgtow   93   189   123   887    4
49822  2017     mgtow   mgtow   89   198   127   878    5
50430  2016     mgtow   mgtow   58   151    93   767    1
12466  2014       MRA     mrm    4    22    52   739    0
60093  2012       MRA     mrm    7    12    31   605    0
4103   2015       TRP   alpha  171   575    86   517    1
1859   2013       MRA   child  445   952     6   489    3
16057  2018    incels   incel   89   666    53   477    0

### Gender over time

In [347]:
# These are the words whose % fem ranges over time are the largest,
# maybe top three words with biggest % range in each community, e.g. “cat	10% - 50%”, only calculate fraction 
# if there are more than 10 occurrences in each community and month. 

def show_top_fem_range(cat):
    # filtering for the argument category
    cat_df = df[df.community == cat]
    totals = cat_df.groupby(['year', 'word'], as_index = False).sum()
    totals['total'] = totals['fem'] + totals['masc']
    totals = totals[totals['total'] > 10]
    totals['fem_frac'] = totals['fem'] / (totals['fem'] + totals['masc'])
    
    # filter for words that show up in more than 1 of the months/time periods 
    # (initially picked 85 to be more than half of all the months but idk if needed)
    is_multi = totals["word"].value_counts() > 1
    filtered = totals[totals["word"].isin(is_multi[is_multi].index)]
    
    # get the max and min fem_frac for each word
    word_keys = filtered['word'].unique().tolist()
    max_fems = []
    min_fems = []
    max_months = []
    min_months = []
    for word in word_keys: 
        df_subset = filtered[filtered['word'] == word]
        max_fem = df_subset['fem_frac'].max()
        min_fem = df_subset['fem_frac'].min()
        max_month = df_subset[df_subset['fem_frac'] == max_fem]['year'].max()
        min_month = df_subset[df_subset['fem_frac'] == min_fem]['year'].min()
        
        max_fems.append(max_fem)
        min_fems.append(min_fem)
        max_months.append(max_month)
        min_months.append(min_month)
    
    
    d = {'word': [], 'min month': [], 'min': [], 'max month': [], 'max':[], 'diff': []}
    for i in range(len(word_keys)):
        d['word'].append(word_keys[i])
        d['min month'].append(min_months[i])
        d['min'].append(min_fems[i])
        d['max month'].append(max_months[i])
        d['max'].append(max_fems[i])
        d['diff'].append(max_fems[i] - min_fems[i])
    
    diffs = pd.DataFrame(data=d)
    return diffs.sort_values(by = ['diff'], ascending = False)

In [348]:
# words in each month in Incels that appear more than 10 times in that month
for cat in cats: 
    print('------' + cat + '-------')
    print(show_top_fem_range(cat).head())

------Femcels-------
       word  min month       min  max month       max      diff
11   doctor       2018  0.153846       2019  0.392857  0.239011
35  partner       2018  0.320000       2019  0.549451  0.229451
15   female       2018  0.705882       2019  0.894737  0.188854
17  femcels       2018  0.312500       2019  0.461538  0.149038
37      sis       2019  0.606061       2018  0.733333  0.127273
------the_attraction-------
           word  min month       min  max month       max      diff
136      waiter       2007  0.071429       2008  0.562500  0.491071
22      asshole       2006  0.421053       2010  0.909091  0.488038
147  one friend       2008  0.166667       2009  0.615385  0.448718
128    stranger       2006  0.285714       2009  0.727273  0.441558
64          gal       2006  0.500000       2007  0.923077  0.423077
------TRP-------
            word  min month       min  max month       max      diff
398       spouse       2019  0.200000       2016  0.816901  0.616901
442   beta bitch       2016  0.461538       2018  1.000000  0.538462
301  male friend       2018  0.117647       2017  0.642857  0.525210
304          men       2018  0.066667       2016  0.538462  0.471795
210         cops       2015  0.222222       2014  0.692308  0.470085
------pua_forum-------
             word  min month       min  max month       max      diff
16    best friend       2015  0.300000       2017  0.727273  0.427273
14      bartender       2010  0.576923       2017  1.000000  0.423077
108  someone else       2009  0.133333       2010  0.500000  0.366667
82          child       2010  0.117647       2013  0.450000  0.332353
11     alpha male       2013  0.142857       2014  0.473684  0.330827
------MRA-------
          word  min month       min  max month       max      diff
213       prof       2018  0.083333       2012  0.769231  0.685897
103       mras       2016  0.272727       2011  0.818182  0.545455
140     artist       2017  0.090909       2018  0.625000  0.534091
238  bartender       2017  0.250000       2019  0.769231  0.519231
156       cops       2016  0.347826       2013  0.857143  0.509317
------red_pill_talk-------
           word  min month       min  max month       max      diff
62           jb       2014  0.431818       2016  0.794872  0.363054
11  best friend       2014  0.000000       2015  0.304348  0.304348
5         aspie       2015  0.000000       2014  0.263158  0.263158
18         boss       2015  0.027027       2016  0.250000  0.222973
91          pua       2018  0.000000       2016  0.209677  0.209677
------Incels-------
           word  min month       min  max month       max      diff
13   girlfriend       2019  0.095386       2013  0.964103  0.868717
146  supervisor       2018  0.214286       2016  0.764706  0.550420
131    neighbor       2019  0.277778       2016  0.818182  0.540404
300  sex worker       2018  0.466667       2019  1.000000  0.533333
119      fiance       2018  0.384615       2019  0.913043  0.528428
------MGTOW-------
             word  min month       min  max month       max      diff
275       patient       2017  0.083333       2018  0.583333  0.500000
311    stepfather       2019  0.125000       2018  0.529412  0.404412
197  ex boyfriend       2017  0.333333       2018  0.714286  0.380952
174     beta male       2017  0.076923       2019  0.454545  0.377622
189          cops       2019  0.222222       2018  0.583333  0.361111
------avfm-------
         word  min month       min  max month       max      diff
27     doctor       2016  0.062500       2014  0.409091  0.346591
46  professor       2013  0.230769       2014  0.538462  0.307692
22     author       2015  0.258065       2014  0.549020  0.290955
38       male       2017  0.117647       2015  0.375000  0.257353
7      friend       2015  0.351351       2012  0.600000  0.248649
------rooshv-------
           word  min month       min  max month       max      diff
95      partner       2012  0.142857       2018  0.692308  0.549451
15      someone       2019  0.037500       2010  0.461538  0.424038
44         male       2012  0.138889       2017  0.562500  0.423611
199  journalist       2017  0.083333       2015  0.500000  0.416667
59      teacher       2015  0.313253       2019  0.727273  0.414020
------mgtow-------
         word  min month       min  max month       max      diff
48      daddy       2017  0.150000       2015  0.611111  0.461111
107    prince       2016  0.000000       2018  0.357143  0.357143
47   coworker       2016  0.386364       2017  0.742857  0.356494
75    mangina       2015  0.085714       2018  0.416667  0.330952
113    rapist       2015  0.181818       2016  0.500000  0.318182
------incels-------
             word  min month       min  max month       max      diff
19        dentist       2018  0.200000       2017  0.545455  0.345455
92             ex       2019  0.111111       2018  0.447368  0.336257
128  psychologist       2018  0.375000       2019  0.666667  0.291667
29            fho       2017  0.739130       2018  1.000000  0.260870
16           cunt       2018  0.669421       2017  0.928571  0.259150
------FDS-------
Empty DataFrame
Columns: [word, min month, min, max month, max, diff]
Index: []
------PUA-------
              word  min month       min  max month       max      diff
87     good friend       2015  0.181818       2019  0.666667  0.484848
103     one friend       2012  0.192308       2011  0.666667  0.474359
150   other person       2013  0.222222       2017  0.666667  0.444444
35   mutual friend       2019  0.500000       2010  0.937500  0.437500
125        teacher       2014  0.318182       2017  0.750000  0.431818

### Gender differences

Lucy hasn't edited this section

In [54]:
# len(df.word.unique()
df = df.groupby('word').sum()
df['total'] = df['fem'] + df['masc']
df = df[df['total'] > 10] 
df['fem_frac'] = df['fem'] / (df['fem'] + df['masc'])
df = df.sort_values(by=['fem'], ascending = False)
df

                  fem  masc  neut   total  fem_frac
word
girl           308205  2567   226  310772  0.991740
woman          248514  1024   838  249538  0.995896
wife            74069   576    55   74645  0.992283
mother          31271   275   139   31546  0.991283
mom             23830   893   186   24723  0.963880
...               ...   ...   ...     ...       ...
physicist           0    29     1      29  0.000000
tall man            0    59     1      59  0.000000
soccer player       0    11     0      11  0.000000
great leader        0    12     0      12  0.000000
weird guy           0    28     0      28  0.000000

[1918 rows x 5 columns]

In [56]:
control_df = control_df.groupby('word').sum()
control_df['total'] = control_df['fem'] + control_df['masc']
control_df = control_df[control_df['total'] > 10] 
control_df['fem_frac'] = control_df['fem'] / (control_df['fem'] + control_df['masc'])
control_df = control_df.sort_values(by=['fem'], ascending = False)
control_df

               fem  masc  neut  total  fem_frac
word
mom          22693   764   200  23457  0.967430
wife         22389   165    18  22554  0.992684
girl         22147   269    29  22416  0.988000
woman        17238   131    56  17369  0.992458
mother       13385   107    53  13492  0.992069
...            ...   ...   ...    ...       ...
composer         0    29     7     29  0.000000
common man       0    34     1     34  0.000000
colonel          0    25     0     25  0.000000
college kid      0    13     1     13  0.000000
lineman          0    12     2     12  0.000000

[1140 rows x 5 columns]

In [57]:
merged_df = df.merge(control_df, how='inner', left_index=True, right_index=True)
merged_df

,fem_x,masc_x,neut_x,total_x,fem_frac_x,fem_y,masc_y,neut_y,total_y,fem_frac_y
word,,,,,,,,,,
girl,308205,2567,226,310772,0.991740,22147,269,29,22416,0.988000
woman,248514,1024,838,249538,0.995896,17238,131,56,17369,0.992458
wife,74069,576,55,74645,0.992283,22389,165,18,22554,0.992684
mother,31271,275,139,31546,0.991283,13385,107,53,13492,0.992069
mom,23830,893,186,24723,0.963880,22693,764,200,23457,0.967430
...,...,...,...,...,...,...,...,...,...,...
layman,0,11,0,11,0.000000,1,11,0,12,0.083333
first man,0,69,0,69,0.000000,0,31,0,31,0.000000
physicist,0,29,1,29,0.000000,1,22,2,23,0.043478
tall man,0,59,1,59,0.000000,0,17,0,17,0.000000
great leader,0,12,0,12,0.000000,0,19,0,19,0.000000

In [59]:
merged_df['difference'] = (merged_df['fem_frac_x'] - merged_df['fem_frac_y']).abs()
merged_df = merged_df.sort_values(by=['difference'], ascending = False)

In [61]:
merged_df

,fem_x,masc_x,neut_x,total_x,fem_frac_x,fem_y,masc_y,neut_y,total_y,fem_frac_y,difference
word,,,,,,,,,,,
brat,21,5,1,26,0.807692,2,10,1,12,0.166667,0.641026
expert,68,35,25,103,0.660194,8,48,31,56,0.142857,0.517337
band,15,2,382,17,0.882353,8,13,1799,21,0.380952,0.501401
cunt,789,205,60,994,0.793763,35,77,12,112,0.312500,0.481263
sitter,11,3,1,14,0.785714,7,14,0,21,0.333333,0.452381
...,...,...,...,...,...,...,...,...,...,...,...
trans woman,131,0,1,131,1.000000,73,0,4,73,1.000000,0.000000
grown woman,120,0,5,120,1.000000,32,0,0,32,1.000000,0.000000
own daughter,112,0,0,112,1.000000,48,0,0,48,1.000000,0.000000
great woman,103,0,0,103,1.000000,12,0,0,12,1.000000,0.000000
great leader,0,12,0,12,0.000000,0,19,0,19,0.000000,0.000000

### Pronoun sparsity

Lucy hasn't edited this section

In [84]:
df = pd.read_csv('pronoun_df.csv')
# df = df.groupby('word').sum()
# df.shape[0]

# total vocab words that show up in reddit with masc/fem/neut pronouns is 6373

df_totals = df.groupby('word').sum()
# df_totals['total'] = df_totals['fem'] + df_totals['masc'] 
df_totals['total'] = df_totals['fem'] + df_totals['masc'] + df_totals['neut']

df_totals['neut_frac'] = df_totals['neut'] / (df_totals['fem'] + df_totals['masc'] + df_totals['neut'])
df_totals 

df_neut = df_totals[df_totals['neut_frac'] >= 0.5].sort_values(by = ['neut_frac'], ascending = False)
# df_neut.head(20)
df_neut

# df_sparse = df_totals[df_totals['total'] <= 10]
# df_sparse



# 4300 words have less than 10 occurrences with masc or fem pronouns => ~70%
# 1438 words have less than 10 occurrences with masc or fem or neut pronouns => ~23%

# 3716 words are mostly "they" words => ~60%

                    fem  masc  neut  total  neut_frac
word
zombies               0     0    97     97        1.0
monarchs              0     0    18     18        1.0
mobile users          0     0     1      1        1.0
mockingbird           0     0     1      1        1.0
moderate feminists    0     0    86     86        1.0
...                 ...   ...   ...    ...        ...
walking wallet        2     0     2      4        0.5
total loser           0     2     2      4        0.5
changs                0     2     2      4        0.5
chick magnet          1     0     1      2        0.5
tradesman             0     8     8     16        0.5

[3716 rows x 5 columns]

### Evaluation 

This code compares booknlp coref vs. spacy coref on hand-labeled data.

In [212]:
gold_masc = set()
gold_fem = set()
with open(ROOT + 'logs/gender_gold_labels.csv', 'r') as infile: 
    reader = csv.DictReader(infile)
    for row in reader: 
        if row['gendered?'] == 'm':
            gold_masc.add(row['word (singular)'].lower())
        if row['gendered?'] == 'f': 
            gold_fem.add(row['word (singular)'].lower())

In [213]:
david_labels = Counter()
with open(ROOT + 'logs/temp_gender.txt', 'r') as infile: 
    reader = csv.DictReader(infile, delimiter='\t')
    for row in reader: 
        if row['proper'] != 'nom': continue
        if (float(row['he/him/his']) + float(row['she/her'])) < 3: continue
        david_labels[row['term']] = float(row['she/her']) / (float(row['he/him/his']) + float(row['she/her']))

In [214]:
df = pd.read_csv(COREF_RESULTS + 'coref_reddit_df.csv')

In [215]:
df = df.groupby('word').sum()
df['fem_frac'] = df['fem'] / (df['fem'] + df['masc'])
df = df[['fem_frac']].dropna()
df = df.to_dict()

In [216]:
spacy_labels = df['fem_frac']

In [219]:
# average score for m words
spacy_scores = []
david_scores = []
for w in gold_masc: 
    if w in spacy_labels and w in david_labels: 
        spacy_scores.append(spacy_labels[w])
        david_scores.append(david_labels[w])
print("masc words")
print("SPACY:", np.mean(spacy_scores), "BOOKNLP:", np.mean(david_scores))

masc words
SPACY: 0.20069466570475966 BOOKNLP: 0.31480068170482933

In [221]:
# average score for f words
spacy_scores = []
david_scores = []
for w in gold_fem: 
    if w in spacy_labels and w in david_labels: 
        spacy_scores.append(spacy_labels[w])
        david_scores.append(david_labels[w])
print("fem words")
print("SPACY:", np.mean(spacy_scores), "BOOKNLP:", np.mean(david_scores))

fem words
SPACY: 0.8515987971507715 BOOKNLP: 0.7529589257733309